@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&family=Unbounded&display=swap');

.font-slabo {
    font-family: 'Slabo 27px', serif;
}

.font-logo {
    font-family: 'Unbounded', cursive;
}

.cont-margin {
    margin-top:100px;
}

.back-color {
    background-color: #ede5e3 !important;
    color: #756f73;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    background-color: #e5b3ac !important;
    border: none !important;
    box-shadow: 0 3px 12px #636e72 !important;
}

.navbar-brand {
    color: #ede5e3 !important;
}

a.nav-link {
    color: #ede5e3 !important;
}

    a.nav-link:hover {
        color: #eed5d1 !important;
    }

.logoutbtn {
    color: #ede5e3 !important;
}

    .logoutbtn:hover {
        color: #eed5d1 !important;
    }
