@model vinTEAge.Models.Category

<h2>Editare categorie</h2>

<form method="post" action="/Categories/Edit/@Model.CategoryId">

    @Html.Label("CategoryName", "Denumire categorie")
    <br />
    @Html.Editor("CategoryName", new { htmlAttributes = new { @class = "form-control" }, value = Model.CategoryName })
    <br /><br />

    <button class="btn btn-outline-secondary" type="submit">Modifica categoria</button>

</form>

