<h2>Categorii</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<a href="/Products/Index">Inapoi la produse</a>
<br />
<br />

@foreach (var category in ViewBag.Categories)
{
    <hr />
    @Html.Label("CategoryName", "Denumire categorie")
    <p>@category.CategoryName</p>
    <a class="btn btn-outline-secondary" href="/Categories/Show/@category.CategoryId">Afisare categorie</a>
    <a class="btn btn-outline-secondary" href="/Categories/Edit/@category.CategoryId">Editare categorie</a>
    <br />
    <br />
}
<br />
<a class="btn btn-outline-secondary" href="/Categories/New">Adauga o noua categorie</a>
<br />
