<h2>Modificarea review-ului @ViewBag.Review.ReviewId</h2>
</br>

<form method="post" action="/Reviews/Edit/@ViewBag.Review.ReviewId">
    <label>Adauga un review: </label></br>
    <textarea type="text" name="Text">@ViewBag.Review.Text</textarea>
    </br>
    </br>

    <label>Adauga un rating: </label></br>
    <input type="number" min="1" max="10" value="@ViewBag.Review.Rating" name="Rating" />
    </br>
    </br>

    <input type="hidden" name="Date" value="@DateTime.Now" />

    <button class="btn btn-outline-secondary" type="submit">Editeaza review-ul!</button>
</form>
