<h2>Spune-ne parerea ta!</h2>
</br>

<form method="post" action="/Reviews/New/@ViewBag.Product.ProductId">
    <label>Adauga un review: </label></br>
    <textarea type="text" name="Text"></textarea>
    </br>
    </br>

    <label>Adauga un rating: </label></br>
    <input type="number" min="1" max="10" name="Rating" />
    </br>
    </br>

    <input type="hidden" name="Date" value="@DateTime.Now" />
    <input type="hidden" name="ProductId" value="@ViewBag.Product.ProductId" />

    <button class="btn btn-outline-secondary" type="submit">Posteaza review-ul!</button>
</form>
